<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cz.vutbr.fit.tam.and10"
      android:versionCode="1"
      android:versionName="0.1">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".KDGlobal" android:debuggable="true">
        <activity android:label="@string/app_name" android:name="KeepDoin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainWindow"></activity>
        <activity android:label="Now" android:name=".activities.NowTab" android:icon="@drawable/ico_tab_now"></activity>
        <activity android:label="All" android:name=".activities.AllTab" android:icon="@drawable/ico_tab_all"></activity>
        <activity android:label="Friends" android:name=".activities.FriendsTab" android:icon="@drawable/ico_tab_friends"></activity>
        <activity android:label="Me" android:name=".activities.MeTab" android:icon="@drawable/ico_tab_me"></activity>
        <activity android:label="User detail" android:name=".activities.UserDetail"></activity>
        
    <activity android:name=".activities.ManageCategories" android:label="Manage Categories"></activity>
</application>
    
    <!-- internet connection security permission -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--  get account for login and registration - we are using google account in phone  -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

	<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest> 